body {
    background-color: #262626 !important;
    color: #e0e0e0 !important;
}

nav {
    background-color: #2a2a2a !important;
}

* {
    color: #e0e0e0 !important;
}

button,
input[type="button"],
input[type="btn"],
.spanBtn {
    background-color: #111111 !important;
    color: #ffffff !important;
}

button:hover,
input[type="button"]:hover,
input[type="btn"]:hover,
.spanBtn:hover {
    background-color: #444 !important;
}

button:active,
input[type="button"]:active,
input[type="btn"]:active,
.spanBtn:active {
    background-color: #575757 !important;
}
