body {
    background-color: #f0f0f0 !important;
    color: #000000 !important;
}

nav {
    background-color: #dcdcdc !important;
}

* {
    color: #000000 !important;
}

button,
input[type="button"],
input[type="btn"],
.spanBtn {
    background-color: #424242 !important;
    color: #ffffff !important;
}

button:hover,
input[type="button"]:hover,
input[type="btn"]:hover,
.spanBtn:hover {
    background-color: #d0d0d0 !important;
}

button:active,
input[type="button"]:active,
input[type="btn"]:active,
.spanBtn:active {
    background-color: #c0c0c0 !important;
}

a,
.aSpan {
    color: #1e90ff !important;
}

#vmList a {
    color: #1e90ff !important;
}
