<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>400 Bad Request</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 20px;
        }
        a {
            color: #007BFF;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
  
    <script src="https://kit.fontawesome.com/bf76b26203.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script src="/js/storageManage.js" type="text/javascript"></script>
</head>
<body>
    <h1>400</h1>
    <h2>Bad Request</h2>
    <p>The server could not understand the request due to invalid syntax.</p>
    <p><%= msg %></p>
    <p><a href="/"><strong>Go back to Home</strong></a></p>
</body>
</html>