<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>423 Locked</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f8f8f8;
            color: #333;
            margin: 0;
            padding: 0;
        }
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        h1 {
            font-size: 6em;
            margin: 0;
        }
        p {
            font-size: 1.5em;
            margin: 0.5em 0;
        }
        a {
            color: #007BFF;
            text-decoration: none;
            font-size: 1.2em;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
  
    <script src="https://kit.fontawesome.com/bf76b26203.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script src="/js/storageManage.js" type="text/javascript"></script>
</head>
<body>
    <div class="container">
        <h1>423</h1>
        <h2>Locked</h2>
        <p>The resource you are trying to access is locked.</p>
        <p><%= msg %></p>
        <p><a href="/"><strong>Go to Homepage</strong></a></p>
    </div>
</body>
</html>