<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>418 I'm a teapot</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 20px;
        }
        .teapot {
            font-size: 110px;
        }
    </style>
  
    <script src="https://kit.fontawesome.com/bf76b26203.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script src="/js/storageManage.js" type="text/javascript"></script>
</head>
<body>
    <h1>418 I'm a teapot</h1>
    <p>Sorry, but I'm a teapot and cannot brew coffee.</p>
    <div class="teapot">🫖</div>
</body>
</html>
