<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= siteName %> # Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <h1>Welcome to the Home Page</h1>
    </header>
    <main>
        <p>You are in <%= siteName %> !</p>
        <a href="/vms">Start the collaborative moment</a>
    </main>
    <footer>
        <p>2025 \ <%= siteName %></p>
    </footer>
</body>
</html>